<!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<script language="JavaScript" type="text/javascript" src="/public/javascripts/jquery-3.6.0.min.js"></script>

<!--<link href="/public/stylesheets/govuk-frontend-3.13.0.min.css" rel="stylesheet" type="text/css" />-->
<link href="/public/stylesheets/style.css" rel="stylesheet" type="text/css" />
<link href="/public/stylesheets/patterns.css" rel="stylesheet" type="text/css" />
<style type="text/css">
    .rag-status {
        border-radius: 5px;
        color: white;
        text-align: center;
    }

    .rag-status--red {
        background: red;
    }

    .rag-status--amber {
        background: orange;
    }

    .rag-status--green {
        background: green;
    }
</style>