{% extends "layout.html" %}
{% import "macros/forms.html" as forms %}

{% block pageTitle %}
Notes
{% endblock %}

{% block beforeContent %}
    <a class="govuk-back-link" id="navigateBackLink" name="navigateBackLink" href="/notification/{{ reference }}">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">Notes for notification: {{ reference }}</h1>

        <form class="form" id="notesForm" name="notesForm" action="/notes/{{ reference }}" method="post">
            <fieldset id="question1-subsectionii" class="govuk-fieldset">
                {% if data.id %}
                <input id="noteId" name="noteId" type="hidden" value="{{ data.id }}" />
                {% endif %}
     
                {{ forms.textInput(
                    "Title", "noteTitle", "noteTitle", data.title, "", "100") }}

                {{ forms.textArea(
                    "Brief description",
                    "", "noteDescription", "noteDescription", data.description, "2700", true) }}

                <button class="govuk-button" data-module="govuk-button">
                    Add note
                </button>
            </fieldset>
        </form>

        {% if notes and notes.length >= 1 %}
        <h2 class="govuk-heading-m">Notes relating to this notification</h2>

        <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Title</th>
                <th scope="col" class="govuk-table__header">Description</th>
                <th scope="col" class="govuk-table__header">Recipient</th>
                <th scope="col" class="govuk-table__header">Note Owner</th>
                <th scope="col" class="govuk-table__header">Date Added</th>
                <th scope="col" class="govuk-table__header">Actions</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
                {% for note in notes %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">{{ note.title }}</td>
                    <td class="govuk-table__cell">{{ note.description }}</td>
                    <td class="govuk-table__cell">{{ note.recipient }}</td>
                    <td class="govuk-table__cell">{{ note.noteOwner }}</td>
                    <td class="govuk-table__cell">{{ note.dateAdded }}</td>
                    <td class="govuk-table__cell">
                        <a href="/notes/edit/{{ reference }}/{{ note.id }}" class="govuk-link">Edit</a> / 
                        <a href="/notes/delete/{{ reference }}/{{ note.id }}" class="govuk-link">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
          {% endif %}
    </div>
</div>
{% endblock %}