{% extends "layout.html" %}
{% import "macros/forms.html" as forms %}

{% block pageTitle %}
Notifications
{% endblock %}

{% block beforeContent %}
    <a class="govuk-back-link" id="navigateBackLink" name="navigateBackLink" href="/">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">Referred to Notifier Notifications</h1>

        {% if statusMessage %}
        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
              <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Important
              </h2>
            </div>
            <div class="govuk-notification-banner__content">
              <p class="govuk-notification-banner__heading">{{ statusMessage }}</p>
            </div>
          </div>
        {% endif %}

        <div class="govuk-form-group">
            <table class="govuk-table" id="notificationListTable" data-module="moj-sortable-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Notifications</caption>
            {{ forms.filter(searchTerm) }}
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header" aria-sort="none">Reference</th>
                    <!--<th scope="col" class="govuk-table__header" aria-sort="none">Joint Notification Reference</th>-->
                    <th scope="col" class="govuk-table__header" aria-sort="none">Acquirer</th>
                    <th scope="col" class="govuk-table__header" aria-sort="none">Date submitted</th>
                    <th scope="col" class="govuk-table__header" aria-sort="none">Date Referred to Notifier</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
            {% for item in data %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <a href="/notification/{{ item.reference }}?disableActions=true">{{ item.reference }}</a>
                    </td>
                    <!--<td class="govuk-table__cell">{{ item.jointNotificationReference }}</td>-->
                    <td class="govuk-table__cell" data-sort-value="{{ item.sortableAcquirer }}">{{ item.acquirer }}</td>
                    <td class="govuk-table__cell" data-sort-value="{{ item.sortabledatesubmitted }}">{{ item.datesubmitted }}</td>
                    <td class="govuk-table__cell" data-sort-value="{{ item.sortabledateReferred }}">{{ item.dateReferred }}</td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}